<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd"
		
	default-autowire="byType"
		>


	<bean class="in.conceptarchitect.movies.simple.SimpleMovieManager" />
	
	<bean class="in.conceptarchitect.movies.simple.SimpleMovieValidator"/>
	
	<bean class="in.conceptarchitect.movies.repository.json.MovieJsonRepository"
			c:path="C:/MyWorks/Corporate/202005-lnt-javadesktop/movies-new.json" />

</beans>
